body {
  background: #191919;
  color: #D9D9D9;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}

h2 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
  color: #CCCCCC;
}

h4 {
  color: #42446E;
  font-size: 18px;
  margin: 0;
}

a {
  margin: 0;
}

p {
  font-weight: regular;
  font-size: 22px;
  color: #A7A7A7;
}

.purple {
  color: #843DFF;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

header li {
  margin: 0;
  margin-right: 30px;
  list-style: None;
}

header li a {
  text-decoration: none;
  color: #A7A7A7;
}

@media(max-width: 800px) {
  header ul {
    display: none;
  }
}

header .social a {
  margin-right: 10px;
}

header .social a:last-of-type {
  margin-right: 0;
}

header li a::after {
  content: "";
  display: block;
  width: 0;
  background: #A7A7A7;
  height: 2px;
  transition: all .3s ease;
}

header .menu img:hover {
  cursor: pointer;
}

header li a:hover::after {
  width: 100%
}

.hero {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  max-width: 50%;
}

.tech-stack {
  margin-bottom: 50px;
  margin-top: 150px;
}

.tech-title {
  text-align: center;
  margin-bottom: 75px;
}

.tech-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  flex-wrap: wrap;
}


.tech-list div {
  width: calc(100% / 6 + 0px);
  margin-bottom: 40px;
  padding: 0;
  text-align: center;
}

@media(max-width: 995px){
  .tech-list div {
    min-width: calc(100% / 6 + 20px);
  }
}

@media(max-width: 545px){
  .tech-list div {
    min-width: calc(100% / 3);
  }
}

@media(max-width: 400px){
  .tech-list div {
    min-width: calc(100% / 2);
  }
}

.projects {
  margin-bottom: 100px;
  margin-top: 175px;
}

.projects-title {
  text-align: center;
  margin-bottom: 75px;
}

.projects-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-card {
  background: #363636;
  border-radius: 20px;
  width: 373px;
  margin-bottom: 50px;
}

.projects-info {
  padding: 20px;
}

.project-card p {
  font-size: 18px;
  font-weight: light;
}

.projects-links {
  display: flex;
  justify-content: space-between;
}

.projects-links img {
  margin-right: 10px;
}

.projects-links a {
  color: #fff;
  transition: all .2s ease;
  text-align: center;
}

.projects-links a:hover {
  color: #A7A7A7;
}


.footer-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  padding-bottom: 40px;
  border-bottom: 2px solid #42446E;
}

.footer-up .links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(max-width: 770px) {
  .footer-up {
    display: block;
    text-align: center;
  }
  .footer-up .links {
    width: 100%;
    margin-top: 50px;
  }
  .hero {
    display: block;
    width: 100%;
    text-align: center;
  }
  .hero-text {
    max-width: 100%;
  }
  .hero-text h1 {
    width: 100%;
  }
}

footer a {
  text-decoration: none;
  color: #A7A7A7;
  margin: 0;
  transition: all .2s ease;
}

footer a:hover {
  color: #666666;
}

footer .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

footer li {
  margin: 0;
  margin-right: 40px;
  list-style: None;
}

@media(max-width: 1000px) {
  footer .menu {
    display: block;
    text-align: center;
  }

  footer ul {
    margin-bottom: 40px;
  }
  footer li {
    margin: 0;
  }
}

@media(max-width: 425px) {
  .project-card {
    width: 90%;
  }
  .project-card .preview {
    width: 100%;
  }
  footer ul {
    display: block;
  }
  footer li {
    margin-bottom: 20px;
  }
  .footer-up .links {
    display: block;
    text-align: center;
  }
  .footer-up .links * {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  .footer-up .links div {
    padding: 0 45%;
  }
}
